 @use '../variables' as *;
 @use '../mixins' as *;
 @use '../functions' as *;

 .form-control {
     padding: rem(8) rem(16);
     color: $color-text-dark;
     background-color: #fff;
     border: rem(1) solid #F3D1BF;
     border-radius: rem(6);
     font-family: inherit;
     line-height: 2;

     &::placeholder {
         color: $color-text-dark-gray;
     }

     &--textarea {
         resize: none;
         min-height: rem(128);
     }

     &--select {
         $icon-heigth: rem(7);
         $icon-width: rem(12);
         $padding-x: rem(16);

         appearance: none;
         padding-right: calc($padding-x * 2 + $icon-width);
         background-repeat: no-repeat;
         background-image: linear-gradient(45deg, transparent 50%, $color-primary 50%), linear-gradient(135deg, $color-primary 50%, transparent 50%);
         background-size: calc($icon-width / 2) $icon-heigth, calc($icon-width / 2) $icon-heigth;
         background-position: calc(100% - ($padding-x + $icon-width / 2)) 50%, calc(10% - $padding-x) 50%, 100% 0;
     }
 }