 @use '../variables' as *;
 @use '../mixins' as *;
 @use '../functions' as *;

 .portfolio-list {
     @include list-reset;
     display: grid;
     grid-template-columns: repeat(3, 1fr);

     @include sm {
         grid-template-columns: 1fr;
         grid-template-rows: repeat(3, 1fr);
     }
 }

 .portfolio-list__item {
     padding: rem(16);
     border: rem(1) solid #3A3C56;
     min-height: rem(450);
     max-height: rem(780);

     +.portfolio-list__item {
         border-left: 0;
     }
 }

 .portfolio-item {
     display: flex;
     aspect-ratio: 448 / 576;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-end;
     color: var(--section-title-color);
     width: 100%;
     height: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }